.character-list-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	width: 80%;
	margin: 0 auto;
	gap: 16px;
}

.character-item {
	border-radius: 5px;
	padding: 12px;
	overflow-y: hidden;
	overflow-x: scroll;
	scrollbar-width: none;
}

h6 {
	text-align: center;
}

.character-image {
	object-fit: contain;
	height: 120px;
	width: 120px;
	filter: drop-shadow(2px 4px 6px black);
}

.search-character-container {
	display: flex;
	justify-content: center;
	margin: 20px 0 40px 0;
}

.page-selection-container {
	display: flex;
	justify-content: center;
	margin: 40px 0;
}

.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100dvw;
	height: 100dvh;
}
