:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	position: relative;
	min-width: 0;
}

body {
	min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

@media (prefers-color-scheme: light) {
	:root {
		background-color: #bbdefb;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: #0d47a1;
	}
}
